---
- name: git checkout TASKS code and install
  hosts: localhost
  gather_facts: no
  become: true
  vars:
    system_repo_url: git@github.com:twidpay-global/twid_system.git
    api_repo_url: git@github.com:twidpay-global/twid_api.git
    tasks_repo_url: git@github.com:twidpay-global/twid_tasks.git
    merchant_repo_url: git@github.com:twidpay-global/twid_merchant.git
    system_dest_dir: /twid/system
    api_dest_dir: /twid/api
    tasks_dest_dir: /twid/tasks
    merchant_dest_dir: /twid/merchant
    branch: CUG
    secret_id: twid/git_ssh_key
    ssh_private_key_path: /home/rocky/.ssh/id_rsa
    region: ap-south-1
  tasks:
    # - name: Fetch SSH key from Secrets Manager using AWS CLI
    #   shell: |
    #     aws secretsmanager get-secret-value \
    #       --secret-id {{ secret_id }} \
    #       --region {{ region }} \
    #       --query 'SecretString' \
    #       --output text \
    #     | jq -r '.ssh_key' \
    #     | base64 -d > {{ ssh_private_key_path }}
    #   register: secret_output

    - name: Fix permissions on private key
      file:
        path: "{{ ssh_private_key_path }}"
        owner: rocky
        group: rocky
        mode: '0600'

    - name: Ensure /twid directory exists
      file:
        path: /twid
        state: directory
        mode: '0777'
        
    - name: Clone the Git System repository
      git:
        repo: "{{ system_repo_url }}"
        dest: "{{ system_dest_dir }}"
        version: "{{ branch }}"
        key_file: "{{ ssh_private_key_path }}"
        update: no
      environment:
        GIT_SSH_COMMAND: ssh -i {{ ssh_private_key_path }} -o StrictHostKeyChecking=no

    - name: Clone the Git Api repository
      git:
        repo: "{{ api_repo_url }}"
        dest: "{{ api_dest_dir }}"
        version: "{{ branch }}"
        key_file: "{{ ssh_private_key_path }}"
        update: no
      environment:
        GIT_SSH_COMMAND: ssh -i {{ ssh_private_key_path }} -o StrictHostKeyChecking=no

    - name: Clone the Git Tasks repository
      git:
        repo: "{{ tasks_repo_url }}"
        dest: "{{ tasks_dest_dir }}"
        version: "{{ branch }}"
        key_file: "{{ ssh_private_key_path }}"
        update: no
      environment:
        GIT_SSH_COMMAND: ssh -i {{ ssh_private_key_path }} -o StrictHostKeyChecking=no

    - name: Clone the Git Merchant repository
      git:
        repo: "{{ merchant_repo_url }}"
        dest: "{{ merchant_dest_dir }}"
        version: "{{ branch }}"
        key_file: "{{ ssh_private_key_path }}"
        update: no
      environment:
        GIT_SSH_COMMAND: ssh -i {{ ssh_private_key_path }} -o StrictHostKeyChecking=no

    - name: Remove private key after clone
      file:
        path: "{{ ssh_private_key_path }}"
        state: absent

    - name: Create framework folders for System
      file:
        path: "{{ item }}"
        state: directory
        mode: '0775'
      loop:
        - /twid/system/storage/framework
        - /twid/system/storage/framework/cache
        - /twid/system/storage/framework/sessions
        - /twid/system/storage/framework/views

    - name: Create framework folders for Tasks
      file:
        path: "{{ item }}"
        state: directory
        mode: '0775'
      loop:
        - /twid/tasks/storage/framework
        - /twid/tasks/storage/framework/cache
        - /twid/tasks/storage/framework/sessions
        - /twid/tasks/storage/framework/views
        
    - name: Run composer install System
      shell: |
        cd /twid/system
        composer install --no-dev -n

    - name: Run composer install Api
      shell: |
        cd /twid/api
        composer install --no-dev -n

    - name: Run composer install Tasks
      shell: |
        cd /twid/tasks
        composer install --no-dev -n

    - name: Run composer install Merchant
      shell: |
        cd /twid/merchant
        composer install --no-dev -n

    - name: update directory permision
      shell: |
        sudo chmod -R 775 /twid/system/
        sudo chown -R apache:kushal /twid/system/
        git config --global --add safe.directory /twid/system
        sudo chmod -R 775 /twid/api/
        sudo chown -R apache:kushal /twid/api/
        git config --global --add safe.directory /twid/api
        sudo chmod -R 775 /twid/tasks/
        sudo chown -R apache:kushal /twid/tasks/
        git config --global --add safe.directory /twid/tasks
        sudo chmod -R 775 /twid/merchant/
        sudo chown -R apache:kushal /twid/merchant/
        git config --global --add safe.directory /twid/merchant
        sudo chmod 755 /twid
          
    - name: Wait for 5 minutes
      ansible.builtin.pause:
        minutes: 10
