---
- name: install git, curl, and vim
  hosts: localhost
  gather_facts: no
  become: true  
  tasks:
    - name: Install Git
      package:
        name: git
        state: present 

    - name: Install Curl
      package:
        name: curl
        state: present  

    - name: Install Vim
      package:
        name: vim
        state: present 

    - name: Install htop
      package:
        name: htop
        state: present

    - name: Install awscli
      dnf:
        name: awscli
        state: present
