---
- name: install efs_utils
  hosts: localhost
  gather_facts: no
  become: true
  tasks:
    - name: Install required packages for building EFS utils
      dnf:
        name:
          - git
          - rpm-build
          - make
          - rust
          - cargo
          - openssl-devel
        state: present

    - name: Clone the EFS utils repository
      git:
        repo: "https://github.com/aws/efs-utils.git"
        dest: "/tmp/efs-utils"
        version: "v2.3.3"
        clone: yes

    - name: Build the RPM package for EFS utils
      command:
        chdir: /tmp/efs-utils
        cmd: make rpm
      args:
        creates: /tmp/efs-utils/build/amazon-efs-utils*rpm

    - name: Install the built RPM package for EFS utils
      command:
        chdir: /tmp/efs-utils/build
        cmd: sudo dnf install amazon-efs-utils-2.3.3-1.el9.x86_64.rpm -y  # make sure you have updated right rpm file

    - name: Install botocore and boto3
      shell: |
        sudo yum -y install wget
        sudo wget https://bootstrap.pypa.io/get-pip.py -O /tmp/get-pip.py
        sudo python3 /tmp/get-pip.py
        sudo pip3 install botocore boto3 || sudo /usr/local/bin/pip3 install botocore boto3

    - name: Remove system Rust/Cargo packages
      dnf:
        name:
          - rust
          - cargo
        state: absent

    - name: Clean up Rust/Cargo directories
      file:
        path: "{{ item }}"
        state: absent
      loop:
        - /usr/local/cargo
        - /root/.cargo
        - /root/.rustup
