---
- name: git checkout TPAP code and install
  hosts: localhost
  gather_facts: no
  become: true
  vars:
    tpap_tasks_repo_url: git@github.com:twidpay-global/twid_tasks_tpap.git
    tpap_api_repo_url: git@github.com:twidpay-global/twid_tpap.git
    tpap_tasks_dest_dir: /twid/tpap_tasks
    tpap_api_dest_dir: /twid/tpap_api
    branch: master
    secret_id: twid/git_ssh_key
    ssh_private_key_path: /home/rocky/.ssh/id_rsa
    region: ap-south-1
  tasks:        
    - name: adding python script to fetch secrets
      copy:
        dest: /etc/ansible/fetch_ssh_key.py
        content: |
          #!/usr/bin/env python3
          import boto3
          import base64
          import json
          import sys
          
          # Fetch arguments from Ansible playbook
          secret_id = sys.argv[1]
          ssh_private_key_path = sys.argv[2]  # File path to store the encoded private key
          region = sys.argv[3]
          
          # Create a Secrets Manager client
          client = boto3.client('secretsmanager', region_name=region)

          # Fetch the secret value from AWS Secrets Manager
          response = client.get_secret_value(SecretId=secret_id)

          # Decode the base64 secret
          secret = json.loads(response['SecretString'])

          # Log the secret content for debugging
          print("Secret content:", secret)

          # Fetch the correct key from the secret
          if 'ssh_key' in secret:
              private_key = secret['ssh_key']
          else:
              print("The key 'ssh_key' was not found in the secret.")
              sys.exit(1)

          # Decode the base64 private key
          decoded_key = base64.b64decode(private_key)

          # Store the decoded private key into a file
          with open(ssh_private_key_path, "wb") as decoded_file:
              decoded_file.write(decoded_key)
              
    - name: update permisssions for python file
      shell: |
        sudo chmod 777 /etc/ansible/fetch_ssh_key.py
        
    - name: Fetch SSH private key from AWS Secrets Manager using boto3
      command: /etc/ansible/fetch_ssh_key.py "{{ secret_id }}" "{{ ssh_private_key_path }}" "{{ region }}"
      register: secret
      
    - name: update permissions for private keys
      shell: |
        sudo chown rocky:rocky /home/rocky/.ssh/id_rsa
        sudo chmod 600 /home/rocky/.ssh/id_rsa
        sudo chmod 777 /twid

    - name: Wait for 5 minutes
      ansible.builtin.pause:
        minutes: 5
            
    - name: Clone the Git Tpap-Tasks repository
      git:
        repo: "{{ tpap_tasks_repo_url }}"
        dest: "{{ tpap_tasks_dest_dir }}"
        version: "{{ branch }}"
        key_file: "{{ ssh_private_key_path }}"
        update: no
      environment:
        GIT_SSH_COMMAND: ssh -i {{ ssh_private_key_path }} -o StrictHostKeyChecking=no

    - name: Wait for 5 minutes
      ansible.builtin.pause:
        minutes: 5

    - name: Clone the Git Tpap-Api repository
      git:
        repo: "{{ tpap_api_repo_url }}"
        dest: "{{ tpap_api_dest_dir }}"
        version: "{{ branch }}"
        key_file: "{{ ssh_private_key_path }}"
        update: no
      environment:
        GIT_SSH_COMMAND: ssh -i {{ ssh_private_key_path }} -o StrictHostKeyChecking=no

    - name: Clean up SSH private key file
      file:
        path: "{{ ssh_private_key_path }}"
        state: absent

    - name: tpap_tasks_install_composer script
      copy:
        dest: "/tmp/tpap_tasks_install_composer.sh"
        content: |
          #!/bin/bash
          cd /twid/tpap_tasks
          git config --global --add safe.directory /twid/tpap_tasks
          composer install --no-dev -n
        
    - name: run tpap_tasks_install_composer script
      shell: |
        sudo chmod +x /tmp/tpap_tasks_install_composer.sh
        sudo bash /tmp/tpap_tasks_install_composer.sh
        sudo rm -f /tmp/tpap_tasks_install_composer.sh

    - name: tpap_api_install_composer script
      copy:
        dest: "/tmp/tpap_api_install_composer.sh"
        content: |
          #!/bin/bash
          cd /twid/tpap_api
          git config --global --add safe.directory /twid/tpap_api
          composer install --no-dev -n
        
    - name: run tpap_api_install_composer script
      shell: |
        sudo chmod +x /tmp/tpap_api_install_composer.sh
        sudo bash /tmp/tpap_api_install_composer.sh
        sudo rm -f /tmp/tpap_api_install_composer.sh

    - name: update directory permision
      shell: |
        sudo chmod -R 775 /twid/tpap_tasks/
        sudo chown -R apache:kushal /twid/tpap_tasks/
        git config --global --add safe.directory /twid/tpap_tasks
        sudo chmod -R 775 /twid/tpap_api/
        sudo chown -R apache:kushal /twid/tpap_api/
        git config --global --add safe.directory /twid/tpap_api
        sudo chmod 755 /twid
          
    - name: Wait for 5 minutes
      ansible.builtin.pause:
        minutes: 5
