---
- name: git checkout TPAP code and install
  hosts: localhost
  gather_facts: no
  become: true
  vars:
    tpap_tasks_repo_url: git@github.com:twidpay-global/twid_tasks_tpap.git
    tpap_api_repo_url: git@github.com:twidpay-global/twid_tpap.git
    tpap_tasks_dest_dir: /twid/tpap_tasks
    tpap_api_dest_dir: /twid/tpap_api
    branch: lts-php-84
    secret_id: twid/git_ssh_key
    ssh_private_key_path: /home/rocky/.ssh/id_rsa
    region: ap-south-1
  tasks:        
    # - name: Fetch SSH key from Secrets Manager using AWS CLI
    #   shell: |
    #     aws secretsmanager get-secret-value \
    #       --secret-id {{ secret_id }} \
    #       --region {{ region }} \
    #       --query 'SecretString' \
    #       --output text \
    #     | jq -r '.ssh_key' \
    #     | base64 -d > {{ ssh_private_key_path }}
    #   register: secret_output
              
    - name: Fix permissions on private key
      file:
        path: "{{ ssh_private_key_path }}"
        owner: rocky
        group: rocky
        mode: '0600'

    - name: Ensure /twid directory exists
      file:
        path: /twid
        state: directory
        mode: '0777'

    - name: Clone the Git Tpap-Tasks repository
      git:
        repo: "{{ tpap_tasks_repo_url }}"
        dest: "{{ tpap_tasks_dest_dir }}"
        version: "{{ branch }}"
        key_file: "{{ ssh_private_key_path }}"
        update: no
      environment:
        GIT_SSH_COMMAND: ssh -i {{ ssh_private_key_path }} -o StrictHostKeyChecking=no

    - name: Clone the Git Tpap-Api repository
      git:
        repo: "{{ tpap_api_repo_url }}"
        dest: "{{ tpap_api_dest_dir }}"
        version: "{{ branch }}"
        key_file: "{{ ssh_private_key_path }}"
        update: no
      environment:
        GIT_SSH_COMMAND: ssh -i {{ ssh_private_key_path }} -o StrictHostKeyChecking=no

    - name: Clean up SSH private key file
      file:
        path: "{{ ssh_private_key_path }}"
        state: absent
        
    - name: Create framework folders for tpap_tasks
      file:
        path: "{{ item }}"
        state: directory
        mode: '0775'
      loop:
        - /twid/tpap_tasks/storage/framework
        - /twid/tpap_tasks/storage/framework/cache
        - /twid/tpap_tasks/storage/framework/sessions
        - /twid/tpap_tasks/storage/framework/views

    - name: Create framework folders for tpap_api
      file:
        path: "{{ item }}"
        state: directory
        mode: '0775'
      loop:
        - /twid/tpap_api/storage/framework
        - /twid/tpap_api/storage/framework/cache
        - /twid/tpap_api/storage/framework/sessions
        - /twid/tpap_api/storage/framework/views
        
    - name: run tpap_tasks_install_composer script
      shell: |
        cd /twid/tpap_tasks
        git config --global --add safe.directory /twid/tpap_tasks
        composer install --no-dev -n
        
    - name: run tpap_api_install_composer script
      shell: |
        cd /twid/tpap_api
        git config --global --add safe.directory /twid/tpap_api
        composer install --no-dev -n

    - name: update directory permision
      shell: |
        sudo chmod -R 775 /twid/tpap_tasks/
        sudo chown -R apache:kushal /twid/tpap_tasks/
        git config --global --add safe.directory /twid/tpap_tasks
        sudo chmod -R 775 /twid/tpap_api/
        sudo chown -R apache:kushal /twid/tpap_api/
        git config --global --add safe.directory /twid/tpap_api
        sudo chmod 755 /twid
          
    - name: Wait for 5 minutes
      ansible.builtin.pause:
        minutes: 5
