---
- name: install efs_utils
  hosts: localhost
  gather_facts: no
  become: true
  tasks:
    - name: Install required packages
      dnf:
        name:
          - git
          - rpm-build
          - make
          - rust
          - cargo
          - openssl-devel
        state: present

    - name: Clone the EFS utils repository
      git:
        repo: "https://github.com/aws/efs-utils.git"
        dest: "/tmp/efs-utils"
        version: "v2.3.3"

    - name: Build RPM package
      command:
        chdir: /tmp/efs-utils
        cmd: make rpm

    - name: Install EFS utils
      command:
        chdir: /tmp/efs-utils/build
        cmd: dnf install -y amazon-efs-utils-2.3.3-1.el9.x86_64.rpm

    - name: Remove Rust/Cargo packages
      dnf:
        name:
          - rust
          - cargo
        state: absent

    - name: Remove Rust/Cargo directories
      file:
        path: "{{ item }}"
        state: absent
      loop:
        - /usr/local/cargo
        - /root/.cargo
        - /root/.rustup
