---
- name: git checkout merchant code and install
  hosts: localhost
  become: true
  gather_facts: no

  vars:
    repo_url: git@github.com:twidpay-global/twid_merchant.git
    dest_dir: /twid/merchant
    branch: master_merchant
    secret_id: twid/git_ssh_key
    ssh_private_key_path: /home/rocky/.ssh/id_rsa
    region: ap-south-1

  tasks:
    - name: Fetch SSH key from Secrets Manager using AWS CLI
      shell: |
        aws secretsmanager get-secret-value \
          --secret-id {{ secret_id }} \
          --region {{ region }} \
          --query 'SecretString' \
          --output text \
        | jq -r '.ssh_key' \
        | base64 -d > {{ ssh_private_key_path }}
      register: secret_output

    - name: Fix permissions on private key
      file:
        path: "{{ ssh_private_key_path }}"
        owner: rocky
        group: rocky
        mode: '0600'

    - name: Ensure /twid directory exists
      file:
        path: /twid
        state: directory
        mode: '0777'

    - name: Clone the Git repository
      git:
        repo: "{{ repo_url }}"
        dest: "{{ dest_dir }}"
        version: "{{ branch }}"
        key_file: "{{ ssh_private_key_path }}"
        update: no
      environment:
        GIT_SSH_COMMAND: ssh -i {{ ssh_private_key_path }} -o StrictHostKeyChecking=no

    - name: Remove private key after clone
      file:
        path: "{{ ssh_private_key_path }}"
        state: absent

    - name: Create framework folders
      file:
        path: "{{ item }}"
        state: directory
        mode: '0775'
      loop:
        - /twid/merchant/storage/framework
        - /twid/merchant/storage/framework/cache
        - /twid/merchant/storage/framework/sessions
        - /twid/merchant/storage/framework/views

    - name: Run composer install
      shell: |
        cd /twid/merchant
        composer install --no-dev -n

    - name: Set merchant directory permissions
      shell: |
        chmod -R 775 /twid/merchant/
        chown -R apache:kushal /twid/merchant/
        git config --global --add safe.directory /twid/merchant
        chmod 755 /twid

    - name: Wait for 5 minutes
      ansible.builtin.pause:
        minutes: 5
