---
- name: Install Latest Go
  hosts: localhost
  gather_facts: no
  become: true

  vars:
    go_version: "1.24.3"
    go_tarball: "go{{ go_version }}.linux-amd64.tar.gz"
    go_url: "https://go.dev/dl/{{ go_tarball }}"

  tasks:

    - name: Remove old Go installation
      file:
        path: /usr/local/go
        state: absent

    - name: Download Go tarball
      get_url:
        url: "{{ go_url }}"
        dest: "/tmp/{{ go_tarball }}"
        mode: '0644'

    - name: Extract Go to /usr/local
      unarchive:
        src: "/tmp/{{ go_tarball }}"
        dest: /usr/local
        remote_src: yes

    - name: Ensure /usr/bin/go symlink exists
      file:
        src: /usr/local/go/bin/go
        dest: /usr/bin/go
        state: link
        force: yes

    - name: Set Go environment variables in .bashrc for kushal
      lineinfile:
        path: /home/kushal/.bashrc
        create: yes
        owner: kushal
        group: kushal
        line: "{{ item }}"
        insertafter: EOF
      loop:
        - 'export GOROOT=/usr/local/go'
        - 'export GOPATH=/home/kushal/go'
        - 'export PATH=$PATH:$GOROOT/bin:$GOPATH/bin'

    - name: Ensure Go workspace exists
      file:
        path: /home/kushal/go
        state: directory
        owner: kushal
        group: kushal
        mode: '0755'

    - name: Clean Go mod cache
      command: go clean -modcache
      become: yes
      environment:
        GOPATH: /home/kushal/go

    - name: Remove old Go tarball
      file:
        path: "/tmp/{{ go_tarball }}"
        state: absent
